.result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15rem 5.7rem 6rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 150px 57px 60px;
  }

  @media (orientation: portrait) {
    padding: 8rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 8rem 0 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 3rem 0;
  }
}

.result__title {
  margin: 0 auto 2rem;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: 0 auto 20px;
  }

  @media (orientation: portrait) {
    margin-bottom: 1.5rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-width: 0.2rem;
    stroke-linejoin: round;
  }
}

.result__text {
  margin-bottom: 2rem;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.01em;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2.8rem;
  }

  p {
    margin: 0;
  }
}

.result__button {
  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto auto 1rem;
  min-width: 34rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: auto auto 10px;
    min-width: 340px;
    font-size: 24px;
  }

  @media (orientation: portrait) {
    margin: auto 0 0;
    transform: none;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0 0;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  span {
    position: relative;
    margin-left: 1.5rem;
    width: 4rem;
    height: 4rem;
    color: $c-dark;

    @media (min-width: $stop-scaling) {
      margin-left: 15px;
      width: 40px;
      height: 40px;
    }

    &::before {
      @include center;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $c-light;
      border: 2px solid $c-light;
      border-radius: 50%;
      z-index: -1;
    }
  }

  svg {
    @include center;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 1.9rem;

    @media (min-width: $stop-scaling) {
      margin-left: 3px;
      width: 24px;
      height: 19px;
    }
  }

  &:hover {
    span::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    outline: none;

    span::before {
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    span {
      color: $c-light;
    }

    span::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.result__form {
  margin-top: auto;
}

.result--trip,
.result--prize {
  .result__title {
    width: 57.3rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      width: 573px;
      height: 113px;
    }

    @media (orientation: portrait) {
      width: 28.7rem;
      height: 5.7rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 40rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-bottom: 0;
      width: 35rem;
    }
  }
}

.result--negative {
  .result__title {
    margin-top: 9.5rem;
    width: 66.5rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      margin-top: 95px;
      width: 665px;
      height: 113px;
    }

    @media (orientation: portrait) {
      margin-top: 0;
      width: 28.8rem;
      height: 4.9rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      margin-top: 0;
      width: 50rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 45rem;
    }
  }
}

.result--prize .result__image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;

  & img {
    position: absolute;
  }

  &-leaf-blue-1 {
    top: -83px;
    width: 28rem;
    max-width: 373px;
    transform-origin: left bottom;
    animation: leaf-1 1.74s linear 0.33s both;
  }

  &-leaf-blue-2 {
    top: 80px;
    width: 27rem;
    max-width: 360px;
    transform-origin: right 50%;
    animation: leaf-2 1.74s linear 0.33s both;
  }

  &-leaf-green {
    top: 109px;
    width: 34rem;
    max-width: 453px;
    transform-origin: left;
    animation: leaf-green 1.74s linear 0.33s both;
  }

  &-suitcase {
    top: -69px;
    width: 35rem;
    max-width: 466px;
    transform: rotate(-8deg) translateX(-8%);
    animation: suitcase 1.74s linear 0.33s both;
  }

  &-flamingo {
    top: 41px;
    width: 27rem;
    max-width: 360px;
    transform-origin: center bottom;
    animation: flamingo 1.74s linear 0.33s both;
  }
}


@keyframes leaf-1 {
  0% {
    opacity: 0;
  }

  12.8% {
    opacity: 0;
    transform: rotate(-13deg) translateX(50%);
  }

  28.5% {
    opacity: 1;
    transform: rotate(10deg) translateX(50%);
  }

  48.4% {
    transform: rotate(-2deg) translateX(50%);
  }

  66.3% {
    transform: rotate(3deg) translateX(50%);
  }

  79.8% {
    transform: rotate(-1deg) translateX(50%);
  }

  100% {
    transform: rotate(1deg) translateX(50%);
  }
}

@keyframes leaf-2 {
  0% {
    opacity: 0;
  }

  12.8% {
    opacity: 0;
    transform: translateX(-75%) rotate(48deg);
  }

  31.7% {
    opacity: 1;
    transform: translateX(-75%) rotate(-10deg);
  }

  50.6% {
    transform: translateX(-75%) rotate(8deg);
  }

  69.5% {
    transform: translateX(-75%) rotate(-4deg);
  }

  88.4% {
    transform: translateX(-75%) rotate(2deg);
  }

  100% {
    opacity: 1;
    transform: translateX(-75%) rotate(0);
  }
}

@keyframes leaf-green {
  0% {
    opacity: 0;
  }

  17.2% {
    opacity: 0;
    transform: rotate(-5deg) translateX(51%);
  }

  35.9% {
    opacity: 1;
    transform: rotate(4deg) translateX(51%);
  }

  56.6% {
    transform: rotate(-2deg) translateX(51%);
  }

  75% {
    transform: rotate(1deg) translateX(51%);
  }

  93.4% {
    transform: rotate(-1deg) translateX(51%);
  }

  100% {
    transform: rotate(0deg) translateX(51%);
  }
}

@keyframes suitcase {
  0% {
    opacity: 0;
    transform: rotate(-8deg) translateX(-24%) translateY(19rem) scale(0);
  }

  0.01% {
    opacity: 1;
  }

  13.7% {
    transform: rotate(-8deg) translateX(-4%) translateY(-3rem) scale(1);
  }

  22.5% {
    transform: rotate(-8deg) translateX(-8%) translateY(0) scale(1);
  }

  100% {
    opacity: 1;
    transform: rotate(-8deg) translateX(-8%) translateY(0) scale(1);
  }
}


@keyframes flamingo {
 0% {
   opacity: 0;
   transform: rotate(-26deg) translateX(-33%) translateY(14rem);
 }

  15.5% {
    opacity: 1;
  }

  17.2% {
    transform: rotate(-4deg) translateX(-33%) translateY(0);
  }

  100% {
    opacity: 1;
    transform: rotate(-4deg) translateX(-33%) translateY(0);
  }
}

// 58 кадров - длительность анимации картинки( до момента фламинго туда-сюда
// 0.03s

// 3 = 5.17%
// 7 = 12%
// 8 = 13.7%
// 9 = 15.5%
// 10 = 17.2%
// 11 = 18.9%
